* {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}

img {
  vertical-align: top;
  border: none
}

.fz-10 {
  font-size: 10px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-17 {
  font-size: 17px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-30 {
  font-size: 30px;
}

.fz-36 {
  font-size: 36px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-d {
  flex-direction: column;
}

.f-ai-c {
  align-items: center;
}

.f-jc-c {
  justify-content: center;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-d-c-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-20 {
  margin: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.pl-14 {
  padding-left: 14px;
}

.pd-20 {
  padding: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

// 单行超出隐藏
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 超出4line隐藏
@mixin text-overflow-line($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}



// 按钮
// @mixin btn-sty($bg, $c) {
//   width: 158px;
//   height: 42px;
//   border-radius: 4px;
//   opacity: 0.5;
//   border: 1px solid #FFFFFF;
//   background: $bg;
// }